<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Vasu Sharma</title>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47692315-56"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-47692315-56');
	</script>


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
	<link id="theme-style" rel="stylesheet" type="text/css" href="">
</head>
<body>

	<section class="s1">
		<div class="main-container">
			<div class="greeting-wrapper">
				<h1>Hi, I'm Vasu Sharma</h1>
			</div>


			<div class="intro-wrapper">
				{% include 'base/navbar.html' %}

				<div class="left-column">
					<img id="profile_pic" src="{% static 'images/Pic.jpg' %}">
					<h5 style="text-align: center;line-height: 0;">Personalize Theme</h5>

					<div id="theme-options-wrapper">
						<div data-mode="light" id="light-mode" class="theme-dot"></div>
						<div data-mode="blue" id="blue-mode" class="theme-dot"></div>
						<div data-mode="green" id="green-mode" class="theme-dot"></div>
						<div data-mode="purple" id="purple-mode" class="theme-dot"></div>
					</div>

					<p id="settings-note">*Theme settings will be saved for<br>your next vist</p>
				</div>

				<div class="right-column">
						<h4>About me</h4>
							<a href="https://www.linkedin.com/in/vasu-sharma3/" target="_blank">LinkedIn: @Vasu</a>
							<a href="https://github.com/vasuvs45?tab=repositories" target="_blank">Github: @Vasu</a>
						<p>Experienced professional with undergrad in Computer Science and Masters in DataScience, having more than 4 years of relevant industry work experience
							in Python,Database, Cloud technologies.</p>
						<p>Primarily looking for Software Developer/Data Engineer/Data Scientist/Data Analyst roles.</p>
						<p>Data enthusiast with experience in Capital Market and Health Care domain </p>
				</div>
			</div>
		</div>
	</section>

	<section class="s2">
		<div class="main-container">
			<div class="about-me">
				<h4>Work experience</h4>

				<h5>Data Glacier </h5>
				<h6>Data Science-Intern </h6>
				<div class="collapsed">
					<li>Performed an exhaustive assessment of two undisclosed cab companies, based on various factors such as customer engagement, customer reach, etc. Projected a minimal profit loss of 1.7% for this chosen company, as compared to the alternative firm’s 3.5% profit loss.</li>
					<li>Constructed and fine-tuned various machine learning algorithms for a bank to anticipate customer behavior for a new product launch and deployed on Flask framework.</li>
				</div>
				<a href="#" class="read-more">Show More >></a>


				<h5>TATRAS DATA SERVICES PRIVATE LIMITED</h5>
				<h6>Associate Software Engineer</h6>
				<div class="collapsed">
					<li>Utilized NLP techniques and developed a customized K‑means to categorize users into clusters.Developed Python workflows using serverless
						architecture for a bot where different micro‑services triggered and interacted with using AWS Lambda and Simple Queue Service.</li>
					<li>Developed a sync job in python scheduled in AWS for populating data in flat tables resulting in optimizing API response time by 70%.</li>
					<li>Integrated AWS Elastic cache with API to improve dashboard response time. Developed mechanisms to optimize data storage in the database
						leading to 75% improvement in data refresh time for materialized views through optimization techniques such as indexing and partitioning.</li>
				</div>

				<a href="#" class="read-more">Show More >></a>


				<h5>Globalshala</h5>
				<h6>Data Analyst Intern</h6>
					<li>Worked on the analysis of an online ad and created dashboard on Tableau.Worked on analysis of different parameters such as Reach,Impression, Unique Clicks, Revenue etc. of ad.</li>
				</div>

				<h5>Infosys Ltd.</h5>
				<h6>Senior System Engineer</h6>
				<div class="collapsed">
					<li>Contributed to the development of an application utilizing a step‑function principle, where each step triggered a sequence of Stored
						Procedures. Played a key role in writing and implementing new steps, along with their corresponding stored procedures.</li>
					<li>Implemented various reports to provide crucial insights for business users.</li>
					<li>Implemented APIs to obtain data from upstream and downstream data transmission and python scripts to call stored procedures.</li>
					<li>Worked on queues and topics enabling seamless communication and data retrieval to other applications.</li>	
				</div>
				<a href="#" class="read-more">Show More >></a>


				<h5>Infosys Ltd.</h5>
				<h6>Software Engineer Intern</h6>
					<li>Flea Market: It was online shopping and selling application where a fresh user needs to first sign in only then is he/she eligible to buy or sell products. It was developed on DOT Net MVC with SQL Database.</li>
				<h4>TOP EXPERTISE</h4>

				<p>Backend Developer with Data Scientist and Data Engineering Skills <a target="_blank" href="{% static 'resume.pdf' %}">Download Resume</a></p>

				<div id="skills">
					<ul>
						<li>Python</li>
						<li>Django</li>
						<li>Flask</li>
						<li>SQL</li>
						<li>Spark</li>
					</ul>

					<ul>
						<li>Amazon Web Services</li>
						<li>PGSQL</li>
						<li> RedShift (RDS/S3)</li>
						<li>Data Structures and Algorithms</li>
						<li>ML Algorithms</li>
					</ul>

				</div>

			</div>
			<div class="main-container">
				<div class="certifications-wrapper">
					<h3>Certifications Completed</h3>
					<ul>
						<li><a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-6d2cbf89-772e-4024-b639-f6db2f679458.pdf" target="_blank">Taming Big Data with Apache Spark and Python </a></li>
						<br>
						<li><a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-579d7ff3-fd78-44c0-9312-8299891769d4.pdf" target="_blank">Python For Data Science and Machine Learning</a></li>
						<br>
						<li><a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-779f15e7-1419-4272-a23b-0cd5bca7734b.pdf" target="_blank">Data Engineer using AWS Python</a></li>
						<br>
						<li><a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-e3855f4a-3b86-4654-ab90-17e2634a650b.pdf" target="_blank">The Python Mega Course 2022: Build 10 Real-World Programs</a></li>
						<br>
						<li><a href="https://www.coursera.org/account/accomplishments/verify/Z4PR2HGXQAPW" target="_blank">Python Data Structures from University of Michigan</a></li>
						<br>
						<li><a href="https://www.coursera.org/account/accomplishments/verify/D6UNCTMKWJMG" target="_blank">Machine Learning from Stanford</a></li>
					</ul>						
				</div>
			</div>
			<!-- </div> -->
		</div>
	</section>

	<section class="s1">
		<div class="main-container">
			<h3 style="text-align: center;">Some of my ongoing projects</h3>

			<div class="post-wrapper">
				{% for post in posts %}
				<div>
					<div class="post">
						<img class="thumbnail" src="{{post.thumbnail.url}}">
						<div class="post-preview">
							<h6 class="post-title">{{post.headline}}</h6>
							<p class="post-intro">{{post.sub_headline}}</p>
							<a href="{%  url 'post' post.slug %}">Read More</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

			<p align ="center">
				<a href="{% url 'posts' %}">View More</a>
			</p>
		</div>
	</section>

	<section class="s2">
		<div class="main-container">
			<a href=""></a>
			<h3 style="text-align: center;">Get In Touch</h3>

			<form id="contact-form" method="POST" action="{% url 'send_email' %}">
				{% csrf_token %}
				<a name="contact"></a>

				<label>Name</label>
				<input required class="input-field" type="text" name="name">

				<label>Subject</label>
				<input required class="input-field" type="text" name="subject">

				<label>Email</label>
				<input required class="input-field" type="text" name="email">

				<label>Message</label>
				<textarea required class="input-field" name="message"></textarea>

				<input id="submit-btn" type="submit" value="Send">
			</form>
		</div>
	</section> 

	<script type="text/javascript">
		let static = "{% static 'css' %}"
	</script>

	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>