{% extends 'base/main.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags%}

<style type="text/css">
	#div_id_tags > div{
		max-height: 100px;
		overflow-y: scroll;
		border:1px solid #888;
		padding: 5px;
		border-radius: 5px;
	}
</style>

<div class="main-container">
    <h3>Post form</h3>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
        {{form|crispy}}
		<input class="btn btn-primary" type="submit" value="Submit Post">
	</form>
</div>
{% endblock content %}